/*
 * Typography Styles
 */
body {
  font: 300 1em/1.5em Helvetica, Arial, sans-serif;
  color: #666; }

h1, h2, h3, h4 {
  font-family: 'Dosis', 'Helvetica Neue', helvetica, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 2.25em;
  line-height: 2.25em; }

h2 {
  font-size: 1.75em;
  line-height: 2.25em; }

h3 {
  font-size: 1.5em;
  line-height: 1.5em; }

h4 {
  font-size: 1.125em;
  line-height: 1.125em; }

h5 {
  font-size: 0.9375em;
  line-height: 1.125em;
  top: 4px; }

h6 {
  font-size: 0.75em;
  line-height: 1em;
  top: 5px; }

p {
  margin: 0 0 1em 0; }

a {
  text-decoration: none;
  color: #911; }

ul {
  padding: 0 0 1em 3em; }
  ul li {
    padding: 0 0 0 0.5em;
    list-style: circle; }

ol {
  padding: 0 0 1em 3em; }
  ol li {
    padding: 0 0 0 0.5em; }