

body {
  background: url('http://static.tumblr.com/blj3ksc/vcWm2ben2/bg.jpg');
  background-attachment: fixed;
  font: normal 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#content {
  width: 500px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: #911;
}

header {
}

header h1 {
  color: rgba(0,0,0,0.5);
  font: 64px 'Josefin Sans', arial, serif;
}

#search {
  background: url('http://static.tumblr.com/blj3ksc/VE1m2bwqz/avatar.png') no-repeat center top;
  position: absolute;
  width: 150px;
  left: -200px;
  top: -45px;
  text-align: center;
}

#search input {
  margin: 270px 0 0 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

article {
  margin: 0 0 80px 0;
  position: relative;
}

article h2 {
  font:  28px 'Josefin Sans', arial, serif;
}

.meta {
  font-size: 12px;
  color: #c7c7c7;
  text-align: center;
  padding: 10px 0 0 0;
}

#content .meta a {
  color: #c7c7c7;
  border: none;
}

#content .meta a:hover {
  color: #333333;
}

.ago, .notes, .comments, .tags {
  padding-left: 22px;
  margin: 0 10px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
}

.ago {
  background: transparent url('http://static.tumblr.com/blj3ksc/QaJm2dwp3/sprite.png') no-repeat left top;
}

.notes {
  background: transparent url('http://static.tumblr.com/blj3ksc/QaJm2dwp3/sprite.png') no-repeat left -22px;
}

.comments {
  background: transparent url('http://static.tumblr.com/blj3ksc/QaJm2dwp3/sprite.png') no-repeat left -44px;
}

.tags {
  background: transparent url('http://static.tumblr.com/blj3ksc/QaJm2dwp3/sprite.png') no-repeat left -66px;
}

article.text, article.link, article.chat {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
  padding: 20px 50px;
  text-align: left;
}

article.text .meta {
  border-top: 1px solid #ebebeb;
}

article.text .date {
  color: #ffffff;
  text-align: center;
  position: absolute;
  right: 10px;
  height: 90px;
  width: 65px;
  top: 0;
  padding: 5px 0 0 0;
  background: url('http://static.tumblr.com/blj3ksc/nk2m2bnak/ribbon.png') center bottom;
}

article.text .date span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  text-shadow: 2px 2px 2px #340b09;
  filter: dropshadow(color=#340b09, offx=2, offy=2);
}

article.text .date .day {
  font-size: 22px;
  line-height: 24px;
}

article.text .date .month {
  font-size: 16px;
  line-height: 18px;
}

article.text a {
  border-bottom: 1px dashed #ebebeb;
}

article.text a:hover {
  border-bottom: 1px solid #911;
}

article.photo {
  text-align: center;
}

article.photoset, article.photo img, article.video embed, article.audio embed {
  background: #ffffff;
  padding: 10px;
  border: 1px solid rgba(100,100,100,1);
  webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
}

article.photoset {
  text-align: center;
}

article.quote {

}

article.quote blockquote {
  font-size: 34px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 38px;
  background: transparent url('http://static.tumblr.com/blj3ksc/y4Ym2bnbs/blockquote.png') no-repeat;
  color: #ffffff;
  margin: 10px;
  padding: 0 0 0 60px;
}

article.quote .source {
  margin: 0 0 0 70px;
}

article.link {
  padding: 10px 50px;
}

article.link h2 {
  background: transparent url('http://static.tumblr.com/blj3ksc/90gm2dy0k/sprite2.png') no-repeat left top;
  padding: 5px 0 5px 40px;
  line-height: 32px;
}

article.chat {

}

article.video {
  text-align: center;
}

article.video embed {

}

article.audio {
  text-align: center;
}

article section.tags {
  text-align: left;
}

.footer {
  clear: both;
  position: relative;
  overflow: hidden;
  line-height: 32px;
  font-size: 20px;
  text-shadow: 2px 2px 2px #340b09;
  padding: 10px 0 40px 0;
}

.footer a {
  color: #ffffff;
  display: block;
  height: 32px;
}

.footer a:hover {
  color: #ebebeb;
}

.footer .nav-previous {
  float: left;
}

.footer .nav-previous a {
  background: transparent url('http://static.tumblr.com/blj3ksc/90gm2dy0k/sprite2.png') no-repeat left -64px;
  padding: 0 0 0 40px;
}

.footer .nav-next {
  float: right;
}

.footer .nav-next a {
  background: transparent url('http://static.tumblr.com/blj3ksc/90gm2dy0k/sprite2.png') no-repeat right -32px;
  padding: 0 40px 0 0;
}