/*
 * Theme: shibbyonline.co.uk
 * Author: Adam Chamberlin
 * Author URL: http://stourvalleydesigns.com.
 * 
 */
/*
 * Imports
 */
@import url("http://fonts.googleapis.com/css?family=Dosis:400,700");
/*
 * CSS Reset
 */
/*
 * CSS Reset
 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden], .hide {
  display: none; }

img, object, embed {
  max-width: 100%; }

img {
  height: auto; }

/*
 * Base Styles
 */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: gray;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: url("http://static.tumblr.com/blj3ksc/vcWm2ben2/bg.jpg");
  background-attachment: fixed;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
  color: #40484c; }

/*
 * Typographic styles
 */
a {
  text-decoration: none;
  color: #a81c25;
  padding: 2px 0;
  -webkit-transition: color 0.3s ease-out; }

a:hover {
  color: #391717; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Dosis', 'Helvetica Neue', helvetica, sans-serif;
  font-weight: 200;
  color: inherit;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1; }

h1, .h1 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 0.75em; }

h2, .h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 0.75em; }

h3, .h3 {
  font-size: 20.8px;
  font-size: 2.08rem;
  line-height: 1.3;
  margin-bottom: 1em; }

h4, .h4 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1.5em; }

h5, .h5 {
  font-size: 18.4px;
  font-size: 1.84rem;
  margin-bottom: 1.5em; }

h6, .h6 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase; }

p, ol, ul, dl, address {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em; }

small {
  font-size: 12.8px;
  font-size: 1.28rem; }

ul, ol {
  margin: 0 0 1.5em -24px;
  padding: 0 0 0 24px; }

li ul, li ol {
  list-style-type: none;
  margin: 1.5em 0;
  font-size: 16px;
  font-size: 1.6rem; }

ul.inline, ol.inline {
  list-style-type: none;
  margin-left: 0; }
  ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px; }

blockquote {
  margin: 0 0 1.5em 0;
  padding: 12px;
  font-style: normal; }
  blockquote small:before {
    content: '\00A0 \2014'; }
  blockquote small:after {
    content: ''; }
  blockquote.pull-right {
    float: right;
    background-color: transparent; }
    blockquote.pull-right p, blockquote.pull-right small {
      text-align: right; }
    blockquote.pull-right small:before {
      content: ''; }
    blockquote.pull-right small:after {
      content: '\00A0 \2014'; }
  blockquote cite {
    font-style: normal; }

q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

dl, dd {
  margin-bottom: 1.5em; }

dt {
  font-weight: bold; }

.dl-horizontal {
  *zoom: 1; }
  .dl-horizontal:before, .dl-horizontal:after {
    display: table;
    content: ""; }
  .dl-horizontal:after {
    clear: both; }
  .dl-horizontal dt {
    float: left;
    clear: left;
    width: 30.38869258%; }
  .dl-horizontal dd {
    margin-left: 32.99289258%; }

abbr[title] {
  border-bottom: 1px dotted #40484c;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ins {
  text-decoration: none; }

mark {
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 1.5em;
  color: #41494d; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub, sup {
  position: relative;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 0;
  vertical-align: 1.5em; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/*
 * Elements
 */
/*
 * Structure Styles
 */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none; }

#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal; }

#lightbox img {
  width: auto;
  height: auto; }

#lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-container {
  padding: 10px; }

.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none; }

.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block; }

.lb-prev {
  left: 0;
  float: left; }

.lb-next {
  right: 0;
  float: right; }

.lb-prev:hover {
  background: url(http://static.tumblr.com/blj3ksc/iOgm3anhr/lb_prev.png) left 48% no-repeat; }

.lb-next:hover {
  background: url(http://static.tumblr.com/blj3ksc/xW5m3anhb/lb_next.png) right 48% no-repeat; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 10px;
  color: #bbbbbb; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px; }

.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none; }

.lb-data .lb-close:hover {
  cursor: pointer; }

.header.big {
  width: 100%;
  height: 6em;
  position: fixed;
  top: 0;
  left: 0;
  background: #a91c25;
  color: white;
  z-index: 100;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -ms-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75); }
  .header.big h1 {
    margin: 1em;
    float: left;
    font-size: 26px;
    font-size: 2.6rem;
    -webkit-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -moz-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -ms-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -o-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75); }
    .header.big h1 a {
      color: white; }
  .header.big .navigation {
    float: right;
    margin: 2em 1em;
    -webkit-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -moz-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -ms-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -o-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75); }
    .header.big .navigation > div {
      display: inline; }
    .header.big .navigation #back-to-top {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
      -webkit-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
      -moz-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
      -ms-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
      -o-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
      transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75); }
  .header.big #about {
    display: none;
    margin: 6em 0;
    background: rgba(1, 1, 1, 0.9);
    color: #999;
    text-align: left;
    text-shadow: 1px 1px 1px black;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    .header.big #about.open {
      display: block; }
    .header.big #about p {
      margin: 0;
      padding: 1em; }

.header.small {
  width: 100%;
  height: 3em;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(169, 28, 37, 0.9);
  color: white;
  z-index: 100;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -ms-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75); }
  .header.small h1 {
    font-size: 20px;
    font-size: 2rem;
    margin: 0.3em 1em; }
    .header.small h1 a {
      color: white; }
  .header.small .navigation {
    margin: 0.5em; }
    .header.small .navigation #back-to-top {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1; }
  .header.small #about {
    margin: 3em 0; }

.icon__top {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: transparent url("http://static.tumblr.com/blj3ksc/Spzn5zb95/sprites.png") no-repeat left top;
  text-indent: -999999px; }
  .icon__top:hover {
    cursor: pointer; }

.icon__about {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: transparent url("http://static.tumblr.com/blj3ksc/Spzn5zb95/sprites.png") no-repeat left -22px;
  text-indent: -999999px; }
  .icon__about:hover {
    cursor: pointer; }

.content {
  position: relative;
  display: block;
  width: 95%;
  margin: 8em auto 0 auto; }
  .content .meta {
    font-size: 0.8em;
    color: #efefef;
    text-align: center;
    padding: 10px 0 0 0; }
    .content .meta a {
      color: #d5d5d5;
      border: none; }
      .content .meta a:hover {
        color: #333333; }
    .content .meta .meta__ago, .content .meta .meta__notes, .content .meta .meta__comments, .content .meta .meta__tags {
      padding-left: 22px;
      margin: 0 10px;
      height: 22px;
      line-height: 22px;
      display: inline-block; }
    .content .meta .meta__ago {
      background: transparent url("http://static.tumblr.com/blj3ksc/Spzn5zb95/sprites.png") no-repeat left -44px; }
    .content .meta .meta__notes {
      background: transparent url("http://static.tumblr.com/blj3ksc/Spzn5zb95/sprites.png") no-repeat left -66px; }
    .content .meta .meta__comments {
      background: transparent url("http://static.tumblr.com/blj3ksc/Spzn5zb95/sprites.png") no-repeat left -88px; }
    .content .meta .meta__tags {
      background: transparent url("http://static.tumblr.com/blj3ksc/Spzn5zb95/sprites.png") no-repeat left -110px; }
  .content article {
    margin: 0 0 4em 0;
    position: relative; }
  .content article.text {
    text-align: left;
    background: white;
    padding: 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6); }
    .content article.text header h1 {
      font-size: 26px;
      font-size: 2.6rem;
      padding: 0 0 0.5em 0;
      border-bottom: 1px solid #efefef; }
    .content article.text header .date {
      display: none; }
    .content article.text p {
      font-size: 14px;
      font-size: 1.4rem; }
    .content article.text .alignleft {
      float: left;
      margin: 5px 10px 5px 5px; }
    .content article.text .alignright {
      float: right;
      margin: 5px 5px 5px 10px; }
    .content article.text .alignmiddle {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .content article.text .meta {
      border-top: 1px solid #efefef;
      color: #6f6f6f; }
      .content article.text .meta a {
        color: #3c3c3c; }
  .content article.photo {
    text-align: center; }
    .content article.photo img {
      box-sizing: border-box;
      background: white;
      width: 90%;
      padding: 0.25em;
      border: 1px solid #efefef;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4); }
    .content article.photo .caption {
      background: rgba(255, 255, 255, 0.9);
      color: #a91c25;
      font-weight: 400;
      max-width: 50%;
      margin: 0.5em auto 0 auto;
      padding: 0.2em 1em;
      border: 1px solid #efefef;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
      -webkit-transform: rotate(1deg);
      -moz-transform: rotate(1deg);
      -ms-transform: rotate(1deg);
      -o-transform: rotate(1deg);
      transform: rotate(1deg); }
      .content article.photo .caption p {
        margin: 0;
        font-size: 12px;
        font-size: 1.2rem; }
  .content article.video {
    text-align: center; }
    .content article.video .tumblr_video_container {
      margin: auto;
      width: 100%; }
    .content article.video iframe {
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;
      border: 2px solid white;
      -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4); }
    .content article.video .caption {
      background: rgba(255, 255, 255, 0.9);
      color: #a91c25;
      max-width: 50%;
      margin: 0.5em auto 0 auto;
      padding: 0.2em 1em;
      border: 1px solid #efefef;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
      -webkit-transform: rotate(-1deg);
      -moz-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
      -o-transform: rotate(-1deg);
      transform: rotate(-1deg); }
      .content article.video .caption p {
        margin: 0;
        font-size: 12px;
        font-size: 1.2rem; }

#disqus_thread {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 20px 50px;
  text-align: left;
  margin-bottom: 4em; }

#notes {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 20px 50px;
  text-align: left; }

.footer {
  *zoom: 1;
  margin: 0 0 2em 0; }
  .footer:before, .footer:after {
    display: table;
    content: ""; }
  .footer:after {
    clear: both; }
  .footer a {
    color: #ffffff;
    display: block;
    height: 32px;
    line-height: 32px;
    font-size: 22px;
    font-size: 2.2rem; }
    .footer a:hover {
      color: #ebebeb; }
  .footer .nav-previous {
    float: left; }
    .footer .nav-previous a {
      background: transparent url("http://static.tumblr.com/blj3ksc/Spzn5zb95/sprites.png") no-repeat left -138px;
      padding: 0 0 0 40px; }
  .footer .nav-next {
    float: right; }
    .footer .nav-next a {
      background: transparent url("http://static.tumblr.com/blj3ksc/Spzn5zb95/sprites.png") no-repeat right -182px;
      padding: 0 40px 0 0; }

/*
 * Device media queries
 */
/* ===== == = === 20em (320px) === = == ===== */
/* ===== == = === 30em (480px) === = == ===== */
@media only screen and (min-width: 30em) {
  .content article.photo img {
    width: auto; }
  .content article.photo .caption {
    width: 20em; }
  .content article.video iframe {
    width: auto; }
  .content article.video .caption {
    width: 20em; } }
/* ===== == = === 37.5em (600px) === = == ===== */
/* ===== == = === 48em (768px) === = == ===== */
@media only screen and (min-width: 48em) {
  .wrapper {
    max-width: 56.25em;
    margin: 0 auto; } }
/* ===== == = === 56.25em (900px) === = == ===== */
@media only screen and (min-width: 56.25em) {
  .content {
    margin: 8em auto 0 auto;
    max-width: 56.25em; }
    .content article.text {
      padding: 2em 3em; }
      .content article.text header h1 {
        width: 90%;
        font-size: 36px;
        font-size: 3.6rem; }
      .content article.text header .date {
        display: block;
        color: #ffffff;
        text-align: center;
        position: absolute;
        right: 10px;
        height: 90px;
        width: 65px;
        top: 0;
        padding: 5px 0 0 0;
        background: url("http://static.tumblr.com/blj3ksc/nk2m2bnak/ribbon.png") center bottom; }
        .content article.text header .date span {
          display: block;
          font-size: 12px;
          line-height: 14px;
          text-shadow: 2px 2px 2px #340b09;
          filter: dropshadow(color=#340b09, offx=2, offy=2); }
        .content article.text header .date .day {
          font-size: 22px;
          line-height: 24px; }
        .content article.text header .date .month {
          font-size: 16px;
          line-height: 18px; }
      .content article.text p {
        font-size: 16px;
        font-size: 1.6rem; } }
/* ===== == = === 68.75em (1100px) === = == ===== */
/* ===== == = === 81.25em (1300px) === = == ===== */
