<div class="content">
  <nav class="footer">
    <menu class="navigation-footer">
      {% for item in metadata.navigation_footer %}
        <li class="nav-bar--item {% if item.class %}{{ item.class }}{% endif %}">
          <a class="" {% if page.url==item.url %} aria-current="page" {% endif %} href="{{ item.url }}" title="{% if item.title %}{{ item.title }}{% endif %}">
            {{ item.label }}
          </a>
        </li>
      {% endfor %}
    </menu><!-- .nav-bar -->
    <div class="theme" hidden="">
      <fieldset id="theme-picker">
        <legend>Theme:</legend>
        <label>
          <input name="theme" type="radio" value="auto" checked>
          Auto
        </label>
        <label>
          <input name="theme" type="radio" value="light">
          Light
        </label>
        <label>
          <input name="theme" type="radio" value="dark">
          Dark
        </label>
      </fieldset>
    </div><!-- .themes -->
  </nav>
  {% include "partials/social.liquid" %}
  <div class="copyright">Adam Chamberlin - 2005-2024</div>
</div><!-- .content -->
