<footer class="mast-foot" role="contentinfo">
  <div class="container">
    <nav class="footer">
      <ul class="navigation-footer">
        <li class="nav-bar--item home">
          <a class="" href="/" title="Back home">Home</a>
        </li>
        <li class="nav-bar--item activity">
          <a href="/activity/" title="What I have been up to">Activity</a>
        </li>
        <li class="nav-bar--item contact">
          <a href="/contact/" title="Lets get social">Contact</a>
        </li>
        <li class="nav-bar--item privacy">
          <a href="/privacy/" title="The boring stuff">Privacy</a>
        </li>
        <li class="nav-bar--item rss">
          <a href="/feed/" title="Long live the RSS feed">RSS</a>
        </li>
      </ul><!-- .nav-bar -->
    </nav><!-- .footer -->
    <div class="theme" hidden>
      <fieldset id="theme-picker">
        <legend>Theme:</legend>
        <label>
          <input name="theme" type="radio" value="auto" checked>
          Auto
        </label>
        <label>
          <input name="theme" type="radio" value="light">
          Light
        </label>
        <label>
          <input name="theme" type="radio" value="dark">
          Dark
        </label>
      </fieldset>
    </div><!-- .themes -->
    <div class="social">
      <a class="mastodon" href="https://mastodon.social/@FunkyLarma" target="_blank" rel="noopener noreferrer me" aria-label="Mastodon">
        {% assetIcon "mastodon" %}
      </a>
      <a class="github" href="https://github.com/funkylarma" target="_blank" rel="noopener noreferrer me" aria-label="Git Hub">
        {% assetIcon "github" %}
      </a>
      <a class="linkedin" href="https://www.linkedin.com/in/funkylarma/" target="_blank" rel="noopener noreferrer me"
        aria-label="Linked-In">
        {% assetIcon "linkedin" %}
      </a>
      <a class="youtube" href="https://www.youtube.com/@funkylarma" target="_blank" rel="noopener noreferrer me" aria-label="YouTube">
        {% assetIcon "youtube" %}
      </a>
    </div><!-- .social -->
    <div class="copyright">Adam Chamberlin - 2005-{% year %}</div>
  </div><!-- .container -->
  <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
  {% if globals.env == "production" %}
  {% viteScriptTag %}
  {% else %}
  <script type="module" src="http://localhost:5173/@vite/client"></script>
  <script type="module" src="http://localhost:5173/src/assets/js/main.js"></script>
  {% endif %}
</footer><!-- .mast-foot -->