<div id="hcard-Adam-Chamberlin" class="h-card hcard vcard p-author" itemscope itemtype="https://schema.org/Person" hidden>
  <img
    rel="me"
    itemprop="image"
    class="u-photo"
    src="/assets/images/headshot.webp"
    alt="headshot of Adam Chamberlin in Mackman Group outdoor space"
    width="512"
    height="512"
    loading="lazy"
    eleventy:ignore
  >
  <br>
    <a class="u-url u-uid url uid url fn n" href="{{ globals.url }}" itemprop="url" rel="me">
      <span class="p-name">
        <span class="p-given-name" itemprop="givenName">Adam</span>
        <span class="p-family-name" itemprop="familyName">Chamberlin</span>
      </span>
    </a>
  <p class="p-note">
    Head of digital development for Mackman Group. Aging consummate athlete attempting to run, bike and enjoy the outdoors.<br>
    Having worked in the cycling industry prior to a global pandemic I took up running to spend more time with my family. Since then I have caught the 'long run' bug and challenged myself.<br>
    Now back in the tech industry I am fascinated by using technology to help live a healthier and more sustainable life.<br>
    Day life is spent in WordPress and talking all things technical SEO.
  </p>
  <a href="https://en.wiktionary.org/wiki/he#Pronoun" class="u-pronoun">he/him/his</a>
  <br />
  <a class="u-email" href="mailto:hello@adamchamberlin.info" itemprop="email">hello@adamchamberlin.info</a>
  <br />
  <span class="p-tel" itemprop="telephone">
    <a rel="me" href="tel:+447816905420">+447816905420</a>
  </span>
  <br>
  <span class="p-job-title" itemprop="jobTitle">
    Head of Development
  </span>
  <br>
  <a class="p-org" href="https://mackman.co.uk/" target="blank" rel="noopener" itemprop="worksFor">
    Mackman Branding
  </a>
  <br>
  <span class="p-adr" itemprop="address">
    <span class="p-locality" itemprop="addressLocality">Hadleigh</span>
    <br>
    <span class="p-region" itemprop="addressRegion">Suffolk</span>
    <br>
    <span class="p-country-name" itemprop="addressCountry">United Kingdom</span>
  </span>
  <ul>
    <li><a class="link u-url url" href="https://github.com/funkylarma" rel="me">@funkylarma on Github</a></li>
    <li><a class="link u-url url" href="https://mastodon.social/@FunkyLarma" rel="me">Mastodon</a></li>
    <li><a class="link u-url url" href="https://bsky.app/profile/funkylarma.bsky.social" rel="me">Bluesky</a></li>
    <li><a class="link u-url url" href="https://www.youtube.com/@funkylarma" rel="me">YouTube</a></li>
    <li><a class="link u-url url" href="https://www.linkedin.com/in/adam-chamberlin/" rel="me">Linked In</a></li>
    <li><a class="link u-url url" href="https://indieweb.org/User:Adamchamberlin.info" rel="me">IndieWeb User:Adamchamberlin.info</a></li>
    <li><a class="link u-url url" href="mailto:hello@adamchamberlin.info" rel="me">hello@adamchamberlin.info</a></li>
    <li><a class="link u-url url" href="sms:+447816905420" rel="me">+447816905420</a></li>
  </ul>
</div>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "Adam Chamberlin",
    "url": "https://adamchamberlin.info",
    "image": "https://adamchamberlin.info/assets/images/headshot.jpg",
    "sameAs": [
      "https://www.youtube.com/@funkylarma",
      "https://www.linkedin.com/in/adam-chamberlin/",
      "https://github.com/funkylarma",
      "https://mastodon.social/@FunkyLarma"
    ],
    "jobTitle": "Head of Development",
    "worksFor": {
      "@type": "Organization",
      "name": "Mackman Group"
    }
  }
</script>