<div class="interactions">
  <h2>Get Involved</h2>
  <div class="webmentions" itemscope itemtype="https://schema.org/Comment">
    <p>Have you posted a response to this or anything related, let me know...</p>
    {% include "partials/webmentions.liquid" %}
  </div><!-- .webmentions -->
  <div class="share" hidden>
    <h3>
      {% assetIcon "share" %}
      Share
    </h3>
    <a href="https://shareopenly.org/share/?url={{ page.url | absoluteUrl }}">Share on the Fediverse</a>
  </div><!-- .share -->
  <div class="email" hidden>
    <h3>
      {% assetIcon "email" %}
      Email
    </h3>
    <a href="mailto:hello@adamchamberlin.info?subject=Re: {{ title | escape }}">Reply via email</a>
  </div><!-- .email -->
</div><!-- .interactions -->
