---
layout: default.liquid
---

<section class="page-single" >
  <div class="page-content">
    <article class="page" data-input-path="{{ page.filePathStem }}">
      <div class="page-head">
        <h1 class="page-title">{{ title }}</h1>
      </div><!-- .page-head -->
      <div class="page-body">
        {{ content }}
      </div><!-- .page-body -->
    </article><!-- .article -->
  </div><!-- .page-content -->
</section><!-- .page-single -->