{% layout "default.liquid" %}


<article class="post" data-input-path="{{ page.filePathStem }}">
  <h1 class="post-title">{{ pageTitle }}</h1>
  <time class="post-date" datetime="{{ post.date }}">{{ post.date }}</time>
</article>