<aside class="sidebar">

  <section id="about">
    <p>The online blog of <a href="http://adamchamberlin.info" title="Adam Chamberlin">Adam Chamberlin</a>. I <a href="http://www.mackmangroup.co.uk" title="Mackman Group">work</a>, sometimes I <a href="https://github.com/funkylarma" title="GitHub Profile">build things</a>, I'm always <a href="http://www.flickr.com/photos/funkylarma/" title="Flickr feed">seeing things</a> and I <a href="http://app.strava.com/athletes/146830" title="Strava Activities">cycle</a> when I can.</p>
  </section>

</aside>