@use "variables" as *;

@font-face {
  font-display: optional;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/plus-jakarta-sans-v8-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-italic - latin */
@font-face {
  font-display: optional;
  font-family: "Plus Jakarta Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/plus-jakarta-sans-v8-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@mixin theme-light() {
  color-scheme: light;
}
@mixin theme-dark() {
  color-scheme: dark;
  --main-color-base: #21262e;
  --main-color-background: #151b23;

  body {
    color: var(--main-color-white);

    img:not([src*=".svg"]) {
      filter: var(--main-image-filter);
    }

    .post-list {
      .post-list-content {
        .post {
          background: var(--main-color-base);

          .post-image {
            img {
            }
          }

          .post-content {
            .post-head {
              h2 {
                a {
                }
              }
              .post-meta {
              }
            }
            .post-excerpt {
              border-top: 2px solid #333;
            }
          }
        }
      }
    }

    .post-single,
    .page-single {
      img {
      }

      .tag-list-content,
      .category-list-content {
        .tag-cloud,
        .category-cloud {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-items: center;
        }

        a {
          .post-count {
            color: var(--main-color-primary);
          }

          &:hover {
          }

          .tag,
          .category {
            .post-count {
            }
          }
        }
      }

      .graph {
        .progress {
          background: var(--main-color-quinary);
        }
      }
    }

    .mast-foot {
      .content {
        .footer {
        }

        .social {
          a {
            color: var(--main-color-primary);
          }
        }
      }
    }

    button,
    .button,
    .call-to-action {
      a {
      }

      &:hover {
        background: var(--main-color-background);

        a {
        }
      }
    }
  }
}

:root {
  color-scheme: light dark;
  transition: all 1s ease-in-out;
  --epg-box-highlight: var(--main-color-primary);

  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    transition-duration: 0s;
  }
}

/* Light Color Scheme (Default + Override) */
:root[data-theme="light"],
:root:has(input[name="theme"][value="light"]:checked) {
  @include theme-light;
}

/* Dark Color Scheme (Override) */
:root[data-theme="dark"],
:root:has(input[name="theme"][value="dark"]:checked) {
  @include theme-dark;
}

/* Dark Color Scheme (system preference) */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :root:has(input[name="theme"][value="auto"]:checked) {
    @include theme-dark;
  }
}

body {
  background-color: var(--main-color-background);
  color: var(--main-color-base);
  font-family: $font-family;
}

main {
}

footer {
  margin-top: auto;
}

.container {
  display: flex;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  .content {
    width: 100%;
  }
}

.mast-head {
  width: 100%;

  .content {
    max-width: var(--main-layout-width-x-wide);
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    figure,
    menu {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
      align-content: center;
    }
  }

  figure {
    width: 4rem;
  }

  .nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;

    .nav-item {
      display: inline-block;
      text-transform: uppercase;
      margin: 0 0.5rem;
      font-size: var(--main-font-size-small);

      .nav-link {
        &:hover {
          color: var(--main-color-primary);
          text-decoration: none;
        }

        &[aria-current] {
          font-weight: bold;
        }
      }
    }
    .nav-item a[href]:not(:hover) {
      text-decoration: none;
    }
  }
}

.site-intro {
  width: 100%;

  .site-intro-content {
    max-width: var(--main-layout-width-wide);
    text-align: center;
    padding-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    border-bottom: 1px solid var(--main-color-base);

    .site-title {
      font-size: var(--main-font-size-xx-large);
      font-weight: 300;
      color: var(--main-color-primary);
    }

    .site-tagline {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

.post-list {
  width: 100%;

  .post-list-content {
    max-width: var(--main-layout-width-wide);
    margin-left: auto;
    margin-right: auto;

    .post {
      background: var(--main-color-white);
      border-bottom-left-radius: 5rem;
      border-bottom-right-radius: 1rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 5rem;
      margin-top: 0;
      margin-bottom: 10rem;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
      filter: drop-shadow(20px 20px 25px rgba(0, 0, 0, 0.1));

      .post-image {
        img {
          width: 937;
          max-width: 100%;
          aspect-ratio: 16/9;
          height: auto;
          object-fit: cover;
          border-top-left-radius: 1rem;
          border-top-right-radius: 5rem;

          @media (prefers-color-scheme: dark) {
            filter: grayscale(50%);
          }
        }

        img[width] {
          width: auto; /* Defer to max-width */
        }

        img[width][height] {
          height: auto; /* Preserve aspect ratio */
        }
      }

      .post-content {
        padding: 2rem 3rem;

        .post-head {
          h2 {
            font-weight: 500;

            a {
              color: var(--main-color-primary);
              text-decoration: none;

              &:hover {
                color: var(--main-color-tertiary);
              }
            }
          }

          .post-meta {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 0 1rem;
            margin: 1rem 0;
            text-transform: uppercase;

            .post-date,
            .post-categories,
            .post-tags,
            .post-reading {
              font-size: var(--main-font-size-x-small);

              span {
                font-weight: $strong-font-weight;
              }

              a {
                text-decoration: none;

                &:hover {
                  color: var(--main-color-quaternary);
                }
              }
            }
          }
        }

        .post-excerpt {
          padding-top: 1rem;
          border-top: 2px solid var(--main-color-background);

          @media (prefers-color-scheme: dark) {
            border-top: 2px solid #333;
          }

          .continue-reading {
            display: block;
            width: fit-content;
            margin: auto;
          }
        }
      }
    }
  }

  > img {
    margin-right: auto;
    margin-left: auto;
  }
}

.post-single {
  width: 100%;

  .wide {
    display: block;
    width: 140%;
    max-width: 140%;
    margin: 0 -20%;
  }

  .post-content {
    max-width: var(--main-layout-width-x-wide);
    margin-left: auto;
    margin-right: auto;

    .post-head {
      max-width: var(--main-layout-width-x-wide);
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 2rem;

      h1.post-title {
        font-size: var(--main-font-size-xx-large);
        font-weight: 300;
        color: var(--main-color-primary);
        margin-bottom: 1.5rem;
      }

      .post-meta {
        width: 100%;
        max-width: var(--main-layout-width-x-wide);
        font-size: var(--main-font-size-xx-small);
        text-transform: uppercase;
        margin: 0 auto;
        padding-bottom: 1.5rem;
        display: flex;
        gap: 0 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .post-date,
        .post-categories,
        .post-tags,
        .post-reading {
          display: inline;
          margin: 0 0.5rem;

          span {
            font-weight: $strong-font-weight;
          }

          a {
            &:hover {
              color: var(--main-color-quaternary);
              text-decoration: none;
            }
          }
        }
      }
    }

    .post-body {
      max-width: var(--main-layout-width-normal);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5rem;

      picture img {
        &.wide {
          display: block;
          width: 140%;
          max-width: 140%;
          margin: 0 -20%;
        }
      }

      img {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 5rem;
        filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.1));

        @media (prefers-color-scheme: dark) {
          filter: grayscale(50%);
        }
      }

      img[width] {
        width: auto; /* Defer to max-width */
      }
      img[width][height] {
        height: auto; /* Preserve aspect ratio */
      }

      .eleventy-plugin-youtube-embed {
        margin-bottom: 2rem;
      }

      h2,
      h3,
      h4 {
        color: var(--main-color-tertiary);
        font-weight: 500;

        a.heading-anchor {
          color: var(--main-color-tertiary);
          text-decoration: none;
        }
      }
    }
  }
}

.page-single {
  width: 100%;

  .wide {
    display: block;
    width: 140%;
    max-width: 140%;
    margin: 0 -20%;
  }

  .page-content,
  .tag-list-content,
  .category-list-content,
  .archive-list-content {
    max-width: var(--main-layout-width-wide);
    margin-left: auto;
    margin-right: auto;

    .page-head {
      max-width: var(--main-layout-width-x-wide);
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 5rem;

      h1.page-title {
        font-size: var(--main-font-size-xx-large);
        font-weight: 300;
        color: var(--main-color-primary);
      }
    }

    .page-body {
      max-width: var(--main-layout-width-normal);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5rem;

      picture img {
        &.wide {
          display: block;
          width: 140%;
          max-width: 140%;
          margin: 0 -20%;
        }
      }

      img {
        width: 80%;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 5rem;
        filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.1));
      }
      img[width] {
        width: auto; /* Defer to max-width */
      }
      img[width][height] {
        height: auto; /* Preserve aspect ratio */
      }

      h2,
      h3,
      h4 {
        color: var(--main-color-tertiary);
        font-weight: 500;

        a.heading-anchor {
          color: var(--main-color-tertiary);
          text-decoration: none;
        }
      }

      .graph {
        .wrapper {
          position: relative;
          height: 2rem;
          margin-bottom: 1rem;
          display: flex;
          align-items: center;
        }

        .progress {
          background: var(--main-color-secondary);
          height: 100%;
          margin-left: 1rem;
        }

        .year {
          width: 2.5rem;
        }

        .data {
          margin-left: 10px;
        }
      }

      .stats {
        td {
          text-align: center;
        }
      }
    }
  }

  .tag-list-content,
  .category-list-content,
  .archive-list-content {
    margin: 0 auto 4rem auto;

    .tag,
    .category,
    .post {
      font-size: var(--main-font-size-normal);
    }

    .post-count,
    .post-date {
      font-size: var(--main-font-size-x-small);
    }

    .post-date {
      margin: 0 0 0 0.5rem;
    }
  }

  .tag-list-content,
  .category-list-content {
    .tag-cloud,
    .category-cloud {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
    }

    a {
      .post-count {
        color: var(--main-color-base);
      }

      &:hover {
        text-decoration: none;
        color: var(--main-color-quaternary);
      }

      .tag,
      .category {
        padding: 0.5rem;

        .post-count {
          display: inline;
        }
      }
    }
  }

  .archive-list-content {
    .post {
      .post-date {
        display: inline;
      }
    }
  }
}

.pagination {
  .pagination-content {
    max-width: var(--main-layout-width-normal);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5vh;

    .post-pagination {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      justify-content: space-between;

      a {
        color: var(--main-color-tertiary);
        text-decoration: none;

        &:hover {
          color: var(--main-color-primary);
        }
      }
    }
  }
}

.mast-foot {
  width: 100%;

  .content {
    border-top: 1px solid var(--main-color-base);
    padding-top: 5vh;
    padding-bottom: 5vh;
    max-width: var(--main-layout-width-normal);
    font-size: var(--main-font-size-x-small);
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    .footer {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      justify-content: center;

      .navigation-footer {
        display: block;

        .nav-item {
          display: inline-block;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: var(--main-font-size-small);
        }
        .nav-item a[href]:not(:hover) {
          text-decoration: none;
        }
        .nav a[href][aria-current="page"] {
          text-decoration: underline;
        }
      }
    }

    .social {
      margin: 1rem;
      display: flex;
      justify-content: center;

      a {
        color: var(--main-color-base);
        margin: 1rem;
      }
    }
  }
}

hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 1px solid var(--main-color-secondary);
}

.heading-wrapper {
  align-items: stretch;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: minmax(auto, max-content) min-content;
}

.deeplink {
  display: grid;
  justify-content: center;
  align-content: center;

  &:link,
  &:visited {
    color: var(--main-color-background);
    text-decoration: none;
  }

  .heading-wrapper:hover &,
  &:hover,
  &:focus {
    color: $link-color;
  }
}

@media (min-width: 65rem) {
  .heading-wrapper {
    // Anchor link in the left margin on larger viewports
    grid-template-columns: min-content auto;
    margin-left: -2rem; // 1rem width + .25rem * 2 paddings + 0.5rem gap
  }

  .deeplink {
    grid-row-start: 1;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
