@font-face {
  font-display: optional;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/plus-jakarta-sans-v8-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-italic - latin */
@font-face {
  font-display: optional;
  font-family: "Plus Jakarta Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/plus-jakarta-sans-v8-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1,
.h1 {
  font-size: var(--main-font-size-xx-large);
}

h2,
.h2 {
  font-size: var(--main-font-size-large);
}

h3,
.h3 {
  font-size: var(--main-font-size-medium);
}

h4,
.h4 {
  font-size: var(--main-font-size-medium);
}

p,
li {
  font-size: var(--main-font-size-normal);
}

p {
  margin: 0 0 2rem 0;
  line-height: 1.7;
  font-weight: 300;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: 600;
}

a:not(.button) {
  color: var(--main-color-secondary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  background-color: var(--main-color-background);
  color: var(--main-color-base);
  font-family: "Plus Jakarta Sans", sans-serif;

  hr {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 1px solid var(--main-color-hairline);
  }

}
