#cc-main {
  .cm-wrapper {
    .cm {
      font-family: "Plus Jakarta Sans", sans-serif;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 1rem;
      .cm__body {
        .cm__texts {
        }

        .cm__btns {
          .cm__btn {
            border: none;
            text-transform: uppercase;
            font-size: var(--main-font-size-x-small);
            font-weight: 400;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 1rem;
          }
          .cm__btn[data-role="all"] {
            background: var(--main-color-primary);
          }

          .cm__btn[data-role="necessary"] {
            background: var(--main-color-secondary);
          }
        }
      }
    }
  }
  .pm-wrapper {
    .pm {
      .pm__header {
      }

      .pm__body {
        .pm__section--toggle {
          .section__toggle-wrapper {
            // .toggle__icon-on {
            //   background: var(--main-color-primary);
            // }
          }
        }
      }

      .pm__footer {
        .pm__btn-group {
          .pm__btn[data-role="all"] {
            background: var(--main-color-primary);
          }

          .pm__btn[data-role="necessary"] {
            background: var(--main-color-secondary);
          }
        }
      }
    }
  }
}
