@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--main-color-white);
    --bg-color: var(--main-color-base);

    body {
      background-color: var(--main-color-black);
      color: var(--main-color-white);

      .post-list {
        .post-list-content {
          .post {
            background: var(--main-color-black);
            border: 2px solid var(--main-color-base);

            .post-image {
              img {
                filter: grayscale(50%);
              }
            }

            .post-content {
              .post-head {
                h2 {
                  a {
                    color: var(--main-color-primary);
                  }
                }
                .post-meta {
                  border-bottom: 2px solid #333;
                }
              }
            }
          }
        }
      }

      .post-single,
      .page-single {
        img {
          filter: grayscale(50%);
        }
      }

      button,
      .button,
      .call-to-action {
        padding-inline: 1em;
        text-transform: uppercase;
        border: 1px solid var(--main-color-primary);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 1rem;
        background: var(--main-color-primary);
        color: var(--main-color-white);
        padding: 0.52em 2em 0.45em;
        text-decoration: none !important;
        cursor: pointer;

        a {
          color: var(--main-color-white);
          text-decoration: none;
        }

        &:hover {
          color: var(--main-color-primary);
          border: 1px solid var(--main-color-primary);
          background: var(--main-color-black);

          a {
            color: var(--main-color-primary);
            text-decoration: none;
          }
        }
      }
    }
  }
}

.dark-mode img {
  filter: grayscale(30%);
}
