/**
 * Mobile Media Queries

 */

@media (max-width: 1150px) {
  body {
    main {
      .post-single,
      .page {
        .post--content,
        .page--content {
          .wide,
          img.wide,
          picture img.wide {
            margin: 0;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 550px) {
  body {
    main {
      .intro {
        .intro--content {
          padding-bottom: 1rem;
          margin-top: 2rem;
          margin-bottom: 2rem;

          .tagline {
            width: 100%;
            margin: 0 auto;

            p {
              margin: 0;
            }
          }
        }
      }

      .post-list {
        .post-list--content {
          .post {
            margin-bottom: 4rem;

            .post--image {
            }

            .post--content {
              padding: 2rem 1rem 3rem 1rem;
            }

            .post--excerpt {
              .continue-reading {
                text-align: center;
              }
            }
          }
        }
      }

      .post-single,
      .page {
        .post--content,
        .page--content {
          img {
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 25px;
          }
        }
      }
    }
  }
}
