---
layout: page.liquid
title: Movies
subhead: Frankly, my dear, I don't give a damn
description: This page is a quick and dirty archive page of all my LetterBoxd activity.
permalink: "/movies/"
---
<p>
  All data is taken from my <a href="https://letterboxd.com/funkylarma/">LetterBoxd</a> account.
</p>

<h2>Recently Watched</h2>
<ul>
  {% for movie in collections.recentMovies %}
  <li class="movie h-entry hentry">
    <div class="p-name">
      {% assetIcon "movie" %}
      <a class="post-link u-url" rel="bookmark" href="{{ movie.url }}" title="Watched on {{ movie.date | dateLongDate }}">
        {{ movie.data.title }}
      </a>
    </div>
    <time class="postlist-date dt-published" datetime="{{ movies.date | dateHtmlString }}"/>
  </li>
  {% endfor %}
</ul>

