---
layout: page.liquid
eleventyExcludeFromCollections: true
title: "What am I doing now?"
updated: 2024-12-13
eleventyComputed:
  subhead: "Updated: {{ updated | dateReadable }}"
permalink: "/now/"
---
<p>
  This is a <a href="https://nownownow.com/about"><em>/now</em></a> page, you can read more about me on the <a href="/about/"><em>/about</em></a> page.
</p>
<h2>Currently</h2>
<p>
<ul>
  <li>Living in Hadleigh Suffolk with Lucy and two children; Jack and Maia</li>
  <li>Head of Development at <a href="https://mackman.co.uk" rel="noopener">Mackman Branding and Marketing Agency</a></li>
  <li>Enjoying running and cycling with a view to get back into some form of competition in 2025</li>
</ul>
</p>
<p>
  <img src="/images/pages/IMG_0173.jpeg" alt="Lucy and I enjoying some sun">
</p>

<div class="page--related">
<p class="h3">Related /slash Pages</p>
<ul>
  <li><a href="/about/">/about</a> - Learn about me.</li>
  <li><a href="/colophon/">/colophon</a> - Learn more about the site.</li>
  <li><a href="/uses/">/uses</a> - Learn about my setup..</li>
</ul>
</div>
