/* plus-jakarta-sans-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/plus-jakarta-sans-v8-latin-300.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('/assets/fonts/plus-jakarta-sans-v8-latin-300.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* plus-jakarta-sans-300italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/assets/fonts/plus-jakarta-sans-v8-latin-300italic.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('/assets/fonts/plus-jakarta-sans-v8-latin-300italic.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/plus-jakarta-sans-v8-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('/assets/fonts/plus-jakarta-sans-v8-latin-regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* plus-jakarta-sans-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/plus-jakarta-sans-v8-latin-italic.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('/assets/fonts/plus-jakarta-sans-v8-latin-italic.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* plus-jakarta-sans-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/plus-jakarta-sans-v8-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('/assets/fonts/plus-jakarta-sans-v8-latin-600.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/plus-jakarta-sans-v8-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('/assets/fonts/plus-jakarta-sans-v8-latin-700.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

html {
  scroll-behavior: smooth;
}

h1,
.h1 {
  font-size: var(--main-font-size-xx-large);
}

h2,
.h2 {
  font-size: var(--main-font-size-large);
}

h3,
.h3 {
  font-size: var(--main-font-size-medium);
}

h4,
.h4 {
  font-size: var(--main-font-size-medium);
}

p,
li {
  font-size: var(--main-font-size-normal);
}

p {
  margin: 0 0 2rem 0;
  line-height: 1.7;
  font-weight: 300;
}

iframe {
  margin: 0 0 2rem 0;
}

small,
.small {
  font-size: var(--main-font-size-small);
}

article {
  
  > ul,
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }
  
  * {
    + h2 {
      margin-top: 4rem;
    }
    
    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: 600;
}

hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 1px solid var(--main-color-hairline);
}

a:not(.button) {
  color: var(--main-color-secondary);
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
  
  &:focus {
    border: 1px solid var(--main-color-secondary);
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  background-color: var(--main-color-background);
  color: var(--main-color-base);
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.wide {
  display: block;
  width: 140%;
  max-width: 140%;
  margin: 0 -20%;
  
  @media (max-width: 1150px) {
    margin: 0;
    width: 100%;
  }
}

.animate {
  -webkit-transform: translateY(50px) rotate(0deg) translateZ(0);
  transform: translateY(50px) rotate(0deg) translateZ(0);
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.animate-in {
  opacity: 1 !important;
  -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
  transform: translateY(0px) rotate(0deg) translateZ(0);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.heading-wrapper {
  align-items: stretch;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: minmax(auto, max-content) min-content;
}

@media (min-width: 65rem) {
  .heading-wrapper {
    grid-template-columns: min-content auto;
    margin-left: -1.6rem;
  }
  
  .deeplink {
    grid-row-start: 1;
  }
}

img[width][height] {
  height: auto;
  /* Preserve aspect ratio */
}


[href="#skip"] {
  position: relative;
  top: 4rem;
  left: 1rem;
}

/* Hide skip link when it's not focused */
[href="#skip"]:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 100%;
  margin-top: 5rem;
  ;
  padding-left: 1rem;
  padding-right: 1rem;
  
  h2,
  h3,
  h4 {
    color: var(--main-color-tertiary);
    font-weight: 400;
    margin-bottom: 1rem;
    
    a.heading-anchor {
      color: var(--main-color-tertiary);
      text-decoration: none;
    }
  }
  
  ul,
  ol {
    margin-bottom: 2rem;
    
    li {
      margin-bottom: 0.5rem;
    }
  }
  
  hr {
    display: block;
    width: 50%;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px dashed var(--main-color-hairline);
  }
  
  .heading-wrapper h2,
  .heading-wrapper h3,
  .heading-wrapper h4,
  {
  scroll-margin-top: 4rem;
}

.deeplink {
  display: grid;
  justify-content: center;
  align-content: center;
  border-bottom: none;
  
  svg {
    &.icon {
      &.icon-link {
        margin-right: 1rem;
      }
    }
  }
  
  &:link,
  &:visited {
    color: var(--main-color-hairline);
    text-decoration: none;
  }
  
  .heading-wrapper:hover &,
  &:hover,
  &:focus {
    color: var(--main-color-secondary);
  }
}

.eleventy-plugin-youtube-embed {
  margin-bottom: 2rem;
}

svg.icon {
  display: inline;
  margin-right: 0.5rem;
}
}

.pagination {
  
  .pagination--content {
    max-width: var(--main-layout-width-normal);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    ;
    
    .post--pagination {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      justify-content: space-between;
      
      a {
        color: var(--main-color-secondary);
        text-decoration: none;
        
        &:hover {
          color: var(--main-color-primary);
        }
      }
    }
  }
}

.markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  color: inherit;
  border-left: .25em solid #888;
  
  p {
    font-size: var(--main-font-size-small);
  }
}

.markdown-alert > :first-child {
  margin-top: 0
}

.markdown-alert > :last-child {
  margin-bottom: 0
}

.markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.markdown-alert .markdown-alert-title .octicon {
  margin-right: 0.5rem;
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-alert.markdown-alert-note {
  border-left-color: var(--main-color-note);
  color: var(--main-color-note);
}

.markdown-alert.markdown-alert-important {
  border-left-color: var(--main-color-important);
  color: var(--main-color-important);
}

.markdown-alert.markdown-alert-warning {
  border-left-color: var(--main-color-warning);
  color: var(--main-color-warning);
}

.markdown-alert.markdown-alert-tip {
  border-left-color: var(--main-color-tip);
  color: var(--main-color-tip);
}

.markdown-alert.markdown-alert-caution {
  border-left-color: var(--main-color-caution);
  color: var(--main-color-caution);
}