footer {
  &.mast-foot {
    width: 100%;

    .container {
      border-top: 1px solid var(--main-color-hairline);
      padding-top: 5vh;
      padding-bottom: 5vh;
      max-width: var(--main-layout-width-narrow);
      font-size: var(--main-font-size-x-small);
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      .footer {
        display: flex;
        padding: 0;
        margin: 0;

        justify-content: center;

        ul.navigation-footer {
          display: flex;
          flex-direction: row;
          list-style: none;
          gap: 1rem;
          padding-inline-start: 0;

          .nav-bar--item {
            display: inline-block;
            font-size: var(--main-font-size-small);

            a {
              &:hover {
                color: var(--main-color-primary);
                text-decoration: none;
              }
            }
          }
          .nav-bar--item a[href]:not(:hover) {
            text-decoration: none;
          }
          .nav a[href][aria-current='page'] {
            text-decoration: underline;
          }
        }
      }

      .social {
        display: flex;
        justify-content: center;

        a {
          color: var(--main-color-base);
          margin: 1rem;

          &:hover {
            color: var(--main-color-primary);
          }
        }
      }
    }
  }
}

#hcard-Adam-Chamberlin {
  * {
    font-size: var(--main-font-size-x-small);
  }
}
