.gallery {
  max-width: var(--main-layout-width-xx-wide);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  ////   .gallery {
  //     display: flex;
  //     flex-direction: row;
  //
  //
  //     img {
  //       display: block;
  //     }
  //
  //     img[width][height] {
  //       height: auto;
  //       /* Preserve aspect ratio */
  //     }
  //   }
}