header {
  &.mast-head {
    width: 100%;

    .content {
      max-width: var(--main-layout-width-x-wide);
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;

      figure,
      ul {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;
        align-content: center;
      }

      figure {
        width: 4rem;
      }

      .nav {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: right;

        .nav-bar--item {
          display: inline-block;
          text-transform: uppercase;
          margin: 0 0.5rem;
          font-size: var(--main-font-size-small);

          .nav-link {
            &:hover {
              color: var(--main-color-primary);
              text-decoration: none;
            }

            &[aria-current] {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
