.note--single {
  position: relative;

  .note--main {
    max-width: var(--main-layout-width-normal);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;

    .note--content {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3rem;

      .note--meta {
        font-size: var(--main-font-size-small);
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;

        .note--date {
          color: var(--main-color-quaternary);

          h1 {
            font-size: var(--main-font-size-small);
            font-weight: 300;
          }
        }

        .note--tags {
          margin-bottom: 0.5rem;
        }
      }

      h1 {
        font-weight: 300;
        margin-bottom: 0.5rem;

        &.checkin {
          color: var(--main-color-primary);
        }
      }

      &.note,
      &.reply,
      &.exercise {
        .p-name {
          font-size: var(--main-font-size-xx-large);
          color: var(--main-color-primary);
        }
      }

      &.rsvp,
      &.event {
        .p-summary {
          font-size: var(--main-font-size-xx-large);
          color: var(--main-color-primary);
        }
      }

      #map {
        width: 100%;
        height: 600px;
      }
    }
  }
}
