@use 'variables' as *;

code:not([class*='language']) {
  display: inline-flex;
  padding: 0.25em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  border: 1px solid var(--main-color-base);
  border-radius: 2px;
  font-size: 0.75rem;
  line-height: 2.1;
}

pre {
  margin-bottom: 2rem;
}

pre code:not([class*='language']) {
  width: 100%;
  max-width: calc(100vw - 2rem);
  overflow-x: auto;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5rem;
  border-left: 2px solid var(--main-color-secondary);

  &,
  p {
    font-size: var(--main-font-size-medium);
  }

  + * {
    margin-top: 3rem;
  }

  :last-child {
    margin-bottom: 0;
  }
}

hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 1px solid var(--main-color-hairline);
}

.lead {
  font-size: 1.35rem;
  letter-spacing: 0.01em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.button,
.call-to-action {
  padding-inline: 1em;
  text-transform: uppercase;
  border: 1px solid var(--main-color-primary);
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 0.1rem;
  background: var(--main-color-primary);
  color: var(--main-color-white);
  padding: 0.52em 2em 0.45em;
  text-decoration: none !important;
  cursor: pointer;

  a {
    color: var(--main-color-white);
    text-decoration: none;
  }

  &:hover {
    color: var(--main-color-primary);
    border: 1px solid var(--main-color-primary);
    background: var(--main-color-white);

    @media (prefers-color-scheme: dark) {
      background: var(--main-color-bg-dark);
    }

    a {
      color: var(--main-color-primary);
      text-decoration: none;
    }
  }
}