<!doctype html>
<html lang="{{ metadata.locale }}">
  {% include "partials/head.liquid" %}
  <body>
    {% if metadata.env == "production" %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KM52M2F"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    <div class="container">
      <div class="content">
        <a href="#skip" class="visually-hidden">Skip to main content</a>
        <header class="mast-head">
          <div class="content">
            {% include "partials/navbar.liquid" %}
          </div><!-- .content -->
        </header><!-- .header -->
        <main id="skip" class="main">
          {{ content }}
        </main><!-- .main -->
        {% include "partials/footer.liquid" %}
      </div><!-- .content -->
    </div><!-- .container -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Adam Chamberlin",
        "url": "https://adamchamberlin.info",
        "image": "https://adamchamberlin.info/assets/images/headshot.jpeg",
        "sameAs": [
          "https://www.youtube.com/@funkylarma",
          "https://www.linkedin.com/in/adam-chamberlin/",
          "https://github.com/funkylarma",
          "https://mastodon.social/@FunkyLarma"
        ],
        "jobTitle": "Head of Development",
        "worksFor": {
          "@type": "Organization",
          "name": "Mackman Group"
        }
      }
    </script>
  <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
  </body>
</html>
