---
layout: default
---

<article class="text">
  <header>  
    <div class="date">
      <time timedate="{{ page.date }}" pubdate>
        <span class="day">{{ page.date | date: "%d" }}</span>
        <span class="month">{{ page.date | date: "%b" }}</span>
        <span class="year">{{ page.date | date: "%Y" }}</span>
      </time>
    </div><!-- .date -->
    <h1>{{ page.title }}</h1>
  </header>
  {{ content }}
  <footer class="meta">
    <span class="meta-ago"><a href="{{ post.url }}">{{ page.date | timeago }}</a></span>
    <span class="meta-comments"><a class="dsq-comment-count" href="{{ post.url }}#disqus_thread">Comments</a></span>
    <br />
    <span class="meta-tags">Tagged with: 
      {% for tag in page.tags %}
        <a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </span>
  </footer>
</article>
