<div id="hcard-Adam-Chamberlin" class="h-card hcard vcard p-author" hidden>
  <img
    rel="me"
    class="u-photo"
    src="/assets/images/headshot.jpeg"
    alt="headshot of Adam Chamberlin in Mackman Group outdoor space"
    width="250"
    height="250"
    eleventy:ignore
  />
  <br />
    <a class="u-url u-uid url uid url fn n" href="https://adamchamberlin.info" rel="me">
      <span class="p-name">
        <span class="p-given-name">Adam</span>
        <span class="p-family-name">Chamberlin</span>
      </span>
    </a>
  <p class="p-note">
    Head of digital development for Mackman Group. Aging consummate athlete attempting to run, bike and enjoy the outdoors.<br>
    Having worked in the cycling industry prior to a global pandemic I took up running to spend more time with my family. Since then I have caught the 'long run' bug and challenged myself.<br>
    Now back in the tech industry I am fascinated by using technology to help live a healthier and more sustainable life.<br>
    Day life is spent in WordPress and talking all things technical SEO.
  </p>
  <a href="https://en.wiktionary.org/wiki/he#Pronoun" class="u-pronoun">he/him/his</a>
  <br />
  <a class="u-email" href="mailto:adam@limegreenpickle.com">adam@limegreenpickle.com.com</a>
  <br />
  <span class="p-tel">
    <a rel="me" href="tel:+447816905420">+447816905420</a>
  </span>
  <br>
  <span class="p-job-title">
    Head of Development
  </span>
  <br>
  <a class="p-org" href="https://mackman.co.uk/" target="blank" rel="noopener">
    Mackman Branding
  </a>
  <br />
  <span class="p-adr">
    <span class="p-locality"> Hadleigh </span>
    <br />
    <span class="p-region"> Suffolk </span>
    <br />
    <span class="p-country-name"> United Kingdom </span>
  </span>
  <ul>
    <li><a class="link u-url url" href="https://github.com/funkylarma" rel="me">@funkylarma on Github</a></li>
    <li><a class="link u-url url" href="https://mastodon.social/@FunkyLarma" rel="me">Mastodon</a></li>
    <li><a class="link u-url url" href="https://bsky.app/profile/funkylarma.bsky.social" rel="me">Bluesky</a></li>
    <li><a class="link u-url url" href="https://www.instagram.com/funkylarma/" rel="me">Instagram</a></li>
    <li><a class="link u-url url" href="https://www.youtube.com/@funkylarma" rel="me">YouTube</a></li>
    <li><a class="link u-url url" href="https://www.linkedin.com/in/adam-chamberlin/" rel="me">Linked In</a></li>
    <li><a class="link u-url url" href="https://twitter.com/funkylarma" rel="me">Twitter</a></li>
    <li><a class="link u-url url" href="https://indieweb.org/User:Adamchamberlin.info" rel="me">IndieWeb User:Adamchamberlin.info</a></li>
    <li><a class="link u-url url" href="mailto:adam@limegreenpickle.com" rel="me">adam@limegreenpickle.com</a></li>
    <li><a class="link u-url url" href="sms:+447816905420" rel="me">+447816905420</a></li>
  </ul>
</div>
