---
layout: default.liquid
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "tagged/{{ tag }}/"
eleventyComputed:
  title: "Tagged: {{ tag }}"
---

<div class="site-intro">
  <div class="site-intro-content">
    <h1 class="site-title">Tagged: "{{ tag }}"</h1>
  </div><!-- .content -->
</div><!-- .site-intro -->

<section class="post-list">
  <div class="post-list-content">
    {%- for post in collections.tagList[tag] reversed -%}
      {% include "partials/article.liquid" %}
    {%- endfor -%}
  </div><!-- .content -->
</section> <!-- End post list -->
